# Python
__pycache__/
*.pyc
.venv/
venv/
.env

# Node.js
node_modules/
build/
.parcel-cache/
dist/

# IDE specific files
.vscode/
.idea/

# Operating System files
.DS_Store
Thumbs.db

# Checkpoint file (if you don't want to track it)
checkpoint.txt
